* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #337;
    font-family: sans-serif;
}

.content1 {
    background-image: url("assets/home_bg_ril.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 110%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.content1 h1 {
    text-align: center;
    font-size: 50;
    font-family: Lucida-Sans-Unicode;
    color: white;
}

#content2 {
    background-size: cover;
    height: 960px;
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    color: white
}

#button1 {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 12px;
}

#navbar {
    overflow: hidden;
    position: sticky;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
    height: 70px;
}

#navbar a {
    color: #f2f2f2;
    text-decoration: none;
    margin: 0 10px;
    background-color: black;
}

#navbar a:hover {
    color: rgb(178, 176, 176);
}

.nav-links {
    margin-right: 15px;
}

#content_match {
    background-color: rgb(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 80%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

#round {
    border-radius: 100%;
    color: white;
    background-color: black;
    aspect-ratio: 1/1;
    min-width: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

#match {
    width: 300px;
    height: 200px;
    margin-left: 25%;
    color: white;
    background-color: black;
    float: left;
}

.login-wrapper {
    background-image: url("assets/login_bg_ril.png");
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
    background-position: center;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    max-height: 80%;
    max-width: 70%;
    width: 400px;
    padding: 30px 0;
    border-radius: 10px;
    gap: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-field {
    display: flex;
    flex-direction: column;
}

input {
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.login-button {
    width: 60%;
    height: 40px;
    justify-content: center;
    display: block;
    color: #fff;
    background: rgb(244, 160, 3);
    font-size: 1em;
    font-weight: bold;
    align-self: center;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

.login-container a {
    text-decoration: none;
}

button:hover {
    background: rgb(214, 141, 6);
}

.match-title {
    text-align: center;
}

#register-team-container {
    display: flex;
    flex-direction: column;
    width: 35%;
    border-radius: 7px;
    background-color: rgb(30, 35, 60);
    color: white;
    padding: 15px;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.register-team-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.register-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.player-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.wrapper {
    min-height: 100vh;
    min-width: 100%;
    padding: 30px 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn-large {
    width: 300px;
}

.w-50 {
    width: 50%;
}

.w-full {
    width: 100%;
}

.team-wrapper {
    box-sizing: border-box;
    min-width: 100%;
    min-height: calc(100vh - 70px);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.team-box {
    display: flex;
    margin-bottom: 10px;
}

.team-box {
    background-color: rgb(30, 35, 60);
    height: 100%;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 7px;
    flex-basis: 20%;
}

@media (max-width: 1000px) {
    .team-box {
        flex-basis: 40%;
    }
}

@media (max-width: 550px) {
    .team-box {
        flex-basis: 100%;
    }
}